/* header section */
.header_section {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.custom_menu-btn {
  position: fixed;
  right: 25px;
  top: 15px;
  width: 50px;
  height: 50px;
}

.custom_menu-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
  z-index: 7;
  border-radius: 100%;
  transition: all 0.3s;
}

.custom_menu-btn button {
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
  z-index: 999;
  margin: 0;
}

.custom_menu-btn button span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000000;
  margin: 5px 0;
  transition: all 0.3s;
  border-radius: 15px;
}

/* When open, transform hamburger into a cross */
.custom_menu-btn.menu_btn-style button .s-1 {
  transform: rotate(45deg) translate(6px, 6px);
}

.custom_menu-btn.menu_btn-style button .s-2 {
  opacity: 0;
}

.custom_menu-btn.menu_btn-style button .s-3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Overlay Menu */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  z-index: 99;
}

.overlay-content a {
  font-size: 22px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0;
}

.overlay-content a:hover {
  color: #fd9c6b;
}

.overlay-content a:focus {
  outline: none;
}

.menu_width {
  width: 100%;
}

.menu_width.overlay a {
  opacity: 1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
}

/* Hamburger Button Styling */
.custom_menu-btn button {
  position: relative;
  z-index: 999;
  transition: transform 0.3s ease;
  flex-direction: column;
}

/* Button styles when the menu is open */
.custom_menu-btn.menu_btn-style button {
  transform: rotate(45deg);
}

// over

.navbar-brand {
  font-size: 24px;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none; /* Remove underline */
}
.apj {
  margin-top: 20px;
}
