<header class="header_section innerpage_header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="index.html">
        <span>Healet</span>
      </a>
      <div class="">
        <div class="custom_menu-btn">
          <button (click)="openNav()">
            <span class="s-1"></span>
            <span class="s-2"></span>
            <span class="s-3"></span>
          </button>
          <div id="myNav" class="overlay" [ngClass]="{ menu_width: isNavOpen }">
            <div class="overlay-content">
              <a href="index.html" (click)="closeNav()">Home</a>
              <a href="about.html" (click)="closeNav()">About</a>
              <a href="shop.html" (click)="closeNav()">Shop</a>
              <a href="blog.html" (click)="closeNav()">Blog</a>
              <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
                >&times;</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
