<div class="home-container">
  <div class="image-section position-relative">
    <!-- Background image -->
    <div class="slider_bg_box">
      <app-navbar></app-navbar>
      <img
        src="..//assets/images/slider-bg.jpg"
        alt="Bridal Jewellery"
        height="100%"
        width="100%"
        class="bride-image"
      />
    </div>

    <!-- Slider Content -->
    <div class="container">
      <div class="col-md-9 col-lg-8">
        <div class="content-section detail-box">
          <h1 class="title">
            Best Jewellery
            <br />
            Collection
          </h1>
          <p class="description">
            It is a long established fact that a reader will be distracted by
            <br />
            the readable content of a page when looking at its layout. The point
            of using Lorem
          </p>
          <div>
            <a href="#" class="slider-link shop-now-btn">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
